<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>YourSampple</title>
    <style>
        body {
            background-color: white;
        }

        marquee {
            color: greenyellow;
            background-color: #222;
        }
    </style>
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/block.css">
    <link rel="stylesheet" href="/css/news-block.css">
    <link rel="stylesheet" href="/css/information-block.css">
    <link rel="stylesheet" href="/css/youtube-layout.css">
    <script src="/js/news-block.js"></script>
    <!-- <script src="../crawler-node/test.js" type="module"></script> -->
</head>

<body style="margin:0;">
    <div class="topnav">
        <ul>
            <li><a href="/recommended">YourSampple</a></li>
            <li><a href="/samsung">SAMSUNG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/samsung-phone">Phone</a></li>
                        <li><a href="/samsung-tablet">Tablet</a></li>
                        <li><a href="/samsung-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">LG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="#">Phone</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/apple">APPLE</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/apple-phone">Phone</a></li>
                        <li><a href="/apple-tablet">Tablet</a></li>
                        <li><a href="/apple-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Up-> Navigation Bar -->

    <div class="row">
        <div class="column side"></div>
        <div class="column middle" style="padding-left:0px;padding-right:0px;padding-top:0px;">
            <!-- 리스트 정보 목록 태블릿, 가전제품, 신제품, 가격정보, 스마트폰, 태블릿 -->
            <div class="information-box" style="background-color:#fff">
                <br>
                <img src="/image/Apple_logo_grey.svg" style="padding-left:30px;height:5%;width:5%">
                    <div id="container1">
                        <ul class="prod-list" style="list-style: none;">
                            <h1 style="color:rgb(237,189,155); text-align:left">Tablet List</h1>
                            <li style="width:47%">
                                <img  style="height:50%;width:50%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-pro-12-11-select-202104_GEO_KR?wid=545&hei=550&fmt=jpeg&qlt=95&.v=1617864722000">
                                <div class="caption1">
                                    <h2>iPad Pro</h2>
                                    <p>11 inch</p>
                                    <P><em>999,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-pro-12-select-202104_GEO_KR?wid=485&amp;hei=510&amp;fmt=png-alpha&amp;.v=1617903449000">
                                <div class="caption1">
                                    <h2>iPad Pro</h2>
                                    <p>12.9 inch</p>
                                    <P><em>1,379,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-select-202009?wid=443&hei=535&fmt=jpeg&qlt=95&.v=1599066777000">
                                <div class="caption1">
                                    <h2>iPad Air</h2>
                                    <p>10.9 inch</p>
                                    <P><em>779,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-2020-hero-landing?wid=372&hei=606&fmt=jpeg&qlt=95&.v=1598913494000">
                                <div class="caption1">
                                    <h2>iPad</h2>
                                    <p>10.2 inch</p>
                                    <P><em>449,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-mini-select-201911_GEO_KR?wid=465&hei=530&fmt=jpeg&qlt=95&.v=1584551241089">
                                <div class="caption1">
                                    <h2>iPad mini</h2>
                                    <p>7.9 inch</p>
                                    <P><em>469,000 원</em></P>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



            <!-- Slideshow container -->
        </div>
        <div class="column side"></div>
    </div>

</body>

</html>