<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>YourSampple</title>
    <style>
        body {
            background-color: white;
        }

        marquee {
            color: greenyellow;
            background-color: #222;
        }
    </style>
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/block.css">
    <link rel="stylesheet" href="/css/news-block.css">
    <link rel="stylesheet" href="/css/information-block.css">
    <link rel="stylesheet" href="/css/youtube-layout.css">
    <script src="/js/news-block.js"></script>
    <!-- <script src="../crawler-node/test.js" type="module"></script> -->
</head>

<body style="margin:0;">
    <div class="topnav">
        <ul>
            <li><a href="/recommended">YourSampple</a></li>
            <li><a href="/samsung">SAMSUNG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/samsung-phone">Phone</a></li>
                        <li><a href="/samsung-tablet">Tablet</a></li>
                        <li><a href="/samsung-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">LG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="#">Phone</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/apple">APPLE</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/apple-phone">Phone</a></li>
                        <li><a href="/apple-tablet">Tablet</a></li>
                        <li><a href="/apple-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Up-> Navigation Bar -->

    <div class="row">
        <div class="column side"></div>
        <div class="column middle" style="padding-left:0px;padding-right:0px;padding-top:0px;">
            <!-- 리스트 정보 목록 태블릿, 가전제품, 신제품, 가격정보, 스마트폰, 태블릿 -->
            <div class="information-box" style="background-color:#fff">
                <br>
                <img src="/image/Apple_logo_grey.svg" style="padding-left:30px;height:5%;width:5%">
                    <div id="container1">
                        <ul class="prod-list" style="list-style: none;">
                            <li>
                                <img  style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-12-pro-family-hero-all?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1604021662000">
                                <div class="caption1">
                                    <h2>iPhone 12 Pro</h2>
                                    <p>자급제</p>
                                    <P><em>1,350,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-12-pro-max-family-hero-all?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1604021663000">
                                <div class="caption1">
                                    <h2>iPhone 12 Pro Max</h2>
                                    <p>자급제</p>
                                    <P><em>1,490,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-se-family-select-2020?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;.v=1586794486444">
                                <div class="caption1">
                                    <h2>iPhone SE</h2>
                                    <p>자급제</p>
                                    <P><em>550,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone11-select-2019-family?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;.v=1567022175704">
                                <div class="caption1">
                                    <h2>iPhone 11</h2>
                                    <p>자급제</p>
                                    <P><em>850,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:40%;width:40%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-xr-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=80&amp;.v=1550795424612">
                                <div class="caption1">
                                    <h2>iPhone X🅁</h2>
                                    <p>자급제</p>
                                    <P><em>690,000 원</em></P>
                                </div>
                            </li>
                            <li style="width:47%">
                                <img  style="height:50%;width:50%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-pro-12-11-select-202104_GEO_KR?wid=545&hei=550&fmt=jpeg&qlt=95&.v=1617864722000">
                                <div class="caption1">
                                    <h2>iPad Pro</h2>
                                    <p>11 inch</p>
                                    <P><em>999,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-pro-12-select-202104_GEO_KR?wid=485&amp;hei=510&amp;fmt=png-alpha&amp;.v=1617903449000">
                                <div class="caption1">
                                    <h2>iPad Pro</h2>
                                    <p>12.9 inch</p>
                                    <P><em>1,379,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-air-select-202009?wid=443&hei=535&fmt=jpeg&qlt=95&.v=1599066777000">
                                <div class="caption1">
                                    <h2>iPad Air</h2>
                                    <p>10.9 inch</p>
                                    <P><em>779,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-2020-hero-landing?wid=372&hei=606&fmt=jpeg&qlt=95&.v=1598913494000">
                                <div class="caption1">
                                    <h2>iPad</h2>
                                    <p>10.2 inch</p>
                                    <P><em>449,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img  style="height:60%;width:60%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ipad-mini-select-201911_GEO_KR?wid=465&hei=530&fmt=jpeg&qlt=95&.v=1584551241089">
                                <div class="caption1">
                                    <h2>iPad mini</h2>
                                    <p>7.9 inch</p>
                                    <P><em>469,000 원</em></P>
                                </div>
                            </li>
                            <li style="padding-left:200px;">
                                <img  style="height:50%;width:50%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MJK43_VW_34FR+watch-40-alum-spacegray-nc-6s_VW_34FR_WF_CO_GEO_KR?wid=700&hei=700&trim=1,0&fmt=p-jpg&qlt=95&.v=1617229176000,1601922170000">
                                <div class="caption1">
                                    <h2>Apple Watch Series 6</h2>
                                    <p>Sports Band</p>
                                    <P><em></em>539,000 원</em></P>
                                </div>
                            </li>
                            <li style="padding-left:200px;">
                                <img  style="height:50%;width:50%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MJ6G3_VW_34FR+watch-40-alum-silver-nc-nike6s_VW_34FR_WF_CO_GEO_KR?wid=700&hei=700&trim=1,0&fmt=p-jpg&qlt=95&.v=1617228187000,1618351150000">
                                <div class="caption1">
                                    <h2>Apple Watch Series 6</h2>
                                    <p>Nike Sports Band</p>
                                    <P><em></em>539,000 원</em></P>
                                </div>
                            </li>
                            <li style="padding-left:200px;">
                                <img  style="height:50%;width:50%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MJ5J3_VW_34FR+watch-40-stainless-spaceblack-cell-hermes6s_VW_34FR_WF_CO+watch-face-40-hermes6s-blue_VW_34FR_WF_CO_GEO_KR?wid=700&hei=700&trim=1,0&fmt=p-jpg&qlt=95&.v=1617744491000,1599010779000,1618102775000">
                                <div class="caption1">
                                    <h2>Apple Watch Series 6</h2>
                                    <p>Hermès Sports Band</p>
                                    <P><em></em>1,529,000 원</em></P>
                                </div>
                            </li>
                            <li style="padding-left:200px;">
                                <img  style="height:50%;width:50%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MJGE3ref_VW_34FR+watch-40-alum-silver-nc-se_VW_34FR_WF_CO?wid=700&hei=700&trim=1,0&fmt=p-jpg&qlt=95&.v=1617228869000,1617299133000">
                                <div class="caption1">
                                    <h2>Apple Watch SE</h2>
                                    <p>Solo loop</p>
                                    <P><em></em>359,000 원</em></P>
                                </div>
                            </li>
                            <li style="padding-left:200px;">
                                <img  style="height:70%;width:70%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/alu-space-sport-black-2up_gps_varend_GEO_KR?wid=470&hei=556&fmt=png-alpha&.v=1594318804000">
                                <div class="caption1">
                                    <h2>Apple Watch Series 3<h2>
                                    <p>Sports Band</p>
                                    <P><em></em>259,000 원</em></P>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



            <!-- Slideshow container -->
        </div>
        <div class="column side"></div>
    </div>

</body>

</html>