<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>YourSampple</title>
    <style>
        body {
            background-color: white;
        }

        marquee {
            color: greenyellow;
            background-color: #222;
        }
    </style>
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/block.css">
    <link rel="stylesheet" href="/css/news-block.css">
    <link rel="stylesheet" href="/css/information-block.css">
    <link rel="stylesheet" href="/css/youtube-layout.css">
    <script src="/js/news-block.js"></script>
    <!-- <script src="../crawler-node/test.js" type="module"></script> -->
</head>

<body style="margin:0;">
    <div class="topnav">
        <ul>
            <li><a href="/recommended">YourSampple</a></li>
            <li><a href="/samsung">SAMSUNG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/samsung-phone">Phone</a></li>
                        <li><a href="/samsung-tablet">Tablet</a></li>
                        <li><a href="/samsung-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">LG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="#">Phone</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/apple">APPLE</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/apple-phone">Phone</a></li>
                        <li><a href="/apple-tablet">Tablet</a></li>
                        <li><a href="/apple-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Up-> Navigation Bar -->

    <div class="row">
        <div class="column side"></div>
        <div class="column middle" style="padding-left:0px;padding-right:0px;padding-top:0px;">
            <!-- 리스트 정보 목록 태블릿, 가전제품, 신제품, 가격정보, 스마트폰, 태블릿 -->
            <div class="information-box" style="background-color:#fff">
                <br>
                <img src="/image/Apple_logo_grey.svg" style="padding-left:30px;height:5%;width:5%">
                    <div id="container1">
                        <ul class="prod-list" style="list-style: none;">
                            <h1 style="color:rgb(237,189,155); text-align:left">Phone List</h1>
                            <li>
                                <img  style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-12-pro-family-hero-all?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1604021662000">
                                <div class="caption1">
                                    <h2>iPhone 12 Pro</h2>
                                    <p>자급제</p>
                                    <P><em>1,350,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-12-pro-max-family-hero-all?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1604021663000">
                                <div class="caption1">
                                    <h2>iPhone 12 Pro Max</h2>
                                    <p>자급제</p>
                                    <P><em>1,490,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-se-family-select-2020?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;.v=1586794486444">
                                <div class="caption1">
                                    <h2>iPhone SE</h2>
                                    <p>자급제</p>
                                    <P><em>550,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:80%;width:80%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone11-select-2019-family?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;.v=1567022175704">
                                <div class="caption1">
                                    <h2>iPhone 11</h2>
                                    <p>자급제</p>
                                    <P><em>850,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img style="height:40%;width:40%" src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-xr-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=80&amp;.v=1550795424612">
                                <div class="caption1">
                                    <h2>iPhone X🅁</h2>
                                    <p>자급제</p>
                                    <P><em>690,000 원</em></P>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



            <!-- Slideshow container -->
        </div>
        <div class="column side"></div>
    </div>

</body>

</html>