<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/mainpage.css">
</head>
<body>
<div class="container">
  <div class="split left">
    <h1>스마트폰 추천</h1>
    <a href="/recommended" class="button">이동하기</a>
  </div>
  <div class="split right">
    <h1>통신비 계산</h1>
    <a href="/bill" class="button">이동하기</a>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="/js/mainpage.js"></script>