<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>YourSampple</title>
    <style>
        body {
            background-color: white;
        }

        marquee {
            color: greenyellow;
            background-color: #222;
        }
    </style>
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/block.css">
    <link rel="stylesheet" href="/css/news-block.css">
    <link rel="stylesheet" href="/css/information-block.css">
    <link rel="stylesheet" href="/css/youtube-layout.css">
    <script src="/js/news-block.js"></script>
    <!-- <script src="../crawler-node/test.js" type="module"></script> -->
</head>

<body style="margin:0;">
    <div class="topnav">
        <ul>
            <li><a href="/recommended">YourSampple</a></li>
            <li><a href="/samsung">SAMSUNG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/samsung-phone">Phone</a></li>
                        <li><a href="/samsung-tablet">Tablet</a></li>
                        <li><a href="/samsung-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">LG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="#">Phone</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/apple">APPLE</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/apple-phone">Phone</a></li>
                        <li><a href="/apple-tablet">Tablet</a></li>
                        <li><a href="/apple-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Up-> Navigation Bar -->

    <div class="row">
        <div class="column side"></div>
        <div class="column middle" style="padding-left:0px;padding-right:0px;padding-top:0px;">
            <!-- 리스트 정보 목록 태블릿, 가전제품, 신제품, 가격정보, 스마트폰, 태블릿 -->
            <div class="information-box" style="background-color:#fff">
                <br>
                <img src="/image/logo_samsung_black.svg" style="padding-left:30px;">
                    <div id="container1">
                        <ul class="prod-list" style="list-style: none;">
                            <h1 style="color:rgb(237,189,155); text-align:left">Watch List</h1>
                            <li>
                                <img src="https://images.samsung.com/is/image/samsung/sec/galaxy-note20/gallery/sec-galaxy-watch3-r855-sm-r855nzdakoo-frontmysticbronze-thumb-274556305?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 워치3 41 mm</h2>
                                    <p>LTE 자급제</p>
                                    <P><em>495,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/01/15/57682308-e112-428b-a6b6-d6e3d74e4847.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 워치 액티브2 40 mm</h2>
                                    <p>블루투스</p>
                                    <P><em>299,200 원</em></P>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



            <!-- Slideshow container -->
        </div>
        <div class="column side"></div>
    </div>

</body>

</html>