<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>YourSampple</title>
    <style>
        body {
            background-color: white;
        }

        marquee {
            color: greenyellow;
            background-color: #222;
        }
    </style>
    <link rel="stylesheet" href="/css/side-menu.css">
    <link rel="stylesheet" href="/css/block.css">
    <link rel="stylesheet" href="/css/news-block.css">
    <link rel="stylesheet" href="/css/information-block.css">
    <link rel="stylesheet" href="/css/youtube-layout.css">
    <script src="/js/news-block.js"></script>
    <!-- <script src="../crawler-node/test.js" type="module"></script> -->
</head>

<body style="margin:0;">
    <div class="topnav">
        <ul>
            <li><a href="/recommended">YourSampple</a></li>
            <li><a href="/samsung">SAMSUNG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/samsung-phone">Phone</a></li>
                        <li><a href="/samsung-tablet">Tablet</a></li>
                        <li><a href="/samsung-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">LG</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="#">Phone</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/apple">APPLE</a>
                <div class="caption">
                    <ul>
                        <li style="margin-left:0;margin-right:0;"><a href="/apple-phone">Phone</a></li>
                        <li><a href="/apple-tablet">Tablet</a></li>
                        <li><a href="/apple-watch">Watch</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- Up-> Navigation Bar -->

    <div class="row">
        <div class="column side"></div>
        <div class="column middle" style="padding-left:0px;padding-right:0px;padding-top:0px;">
            <!-- 리스트 정보 목록 태블릿, 가전제품, 신제품, 가격정보, 스마트폰, 태블릿 -->
            <div class="information-box" style="background-color:#fff">
                <br>
                <img src="/image/logo_samsung_black.svg" style="padding-left:30px;">
                    <div id="container1">
                        <ul class="prod-list" style="list-style: none;">
                            <h1 style="color:rgb(237,189,155); text-align:left">Phone List</h1>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/03/10/d642e9a0-2a9f-4e45-93b8-4c21fa34026e.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 Z 폴드2</h2>
                                    <p>5G 자급제</p>
                                    <P><em>1,892,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/03/05/73ee3c9c-49e9-4aaf-a520-b18f0472b68f.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 Z 플립</h2>
                                    <p>5G 자급제</p>
                                    <P><em>1,349,700 원</em></P>
                                </div>
                            </li>
                            <br><br>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/01/12/5d169f94-1503-41fb-885c-8af8aceee559.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 S21 Ultra</h2>
                                    <p>5G 자급제</p>
                                    <P><em>1,452,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/03/05/840226b0-352f-458c-bc0b-3fde7b459505.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 노트20 Ultra</h2>
                                    <p>5G 자급제</p>
                                    <P><em>1,452,000 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/02/09/c8d5ac8e-a7ef-41d0-92f2-8c68ee12fd16.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 A42</h2>
                                    <p>5G 자급제</p>
                                    <P><em>449,900 원</em></P>
                                </div>
                            </li>
                            <li>
                                <img src="https://images.samsung.com/kdp/goods/2021/04/28/53227fd6-6e43-466c-97b4-e531d54ae6e3.png?$PF_PRD_PNG$">
                                <div class="caption">
                                    <h2>갤럭시 M12</h2>
                                    <p>자급제</p>
                                    <P><em>198,000 원</em></P>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>



            <!-- Slideshow container -->
        </div>
        <div class="column side"></div>
    </div>

</body>

</html>