* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    padding: 10px;
    height: 4777px; 
  }
  .column.side {
    width: 10%;
    background-color:#bbb;
  }
  .column.middle {
    width: 80%;
    background-color:#fff;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }